@font-face {
    font-family: 'Mont Heavy';
    src: url('../public/fonts/mont-heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

.loginPage {
    display: flex;
    flex-direction: row;
}

.birdBackground {
    background-image: url('../public/login.png');
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.darkBackground {
    background-color: #151d27;
    width: 60vw;
}

.logo {
    transform: rotate(90deg);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 50%;
}

.titleH1 {
    color: white;
    margin-left: 20px;
    font-family: 'Mont Heavy';
    font-size: 4em;
}

.titleH3 {
    color: white;
    margin-left: 20px;
    font-family: 'Mont Heavy';
    font-size: 2em;
}

.titleH4 {
    color: white;
    margin-left: 20px;
    font-family: 'Mont Heavy';
    margin-top: 50px;
}

.signup {
    background-color: #2d78c6;
    color: white;
    margin-left: 20px;
    width: 300px;
    height: 50px;
    border: none; 
    border-radius: 20px;
}

.signin {
    background-color: #151d27;
    color: #2d78c6;
    margin-left: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid #35404c;
    border-radius: 20px;
}

.modal-content {
    background-color: #151d27;
}