.signUpContainer {
    display: flex;
    flex-direction: column;
}

.text {
    color: white;
    margin-left: 10px;
    font-family: 'Mont Heavy';
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 150px;
}

.input {
    background-color: #151d27;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}